html {
  --color-green: #20413a;
  --color-gray: #eaeaea;
  --color-yellow: #b58539;
  --color-white: #ffffff;

  --font-family: "Roboto", sans-serif;
  --font-size-default: 18px;
  --font-size-large: 25px;
  --font-size-callout: 32px;
  --font-weight-normal: 300;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --border-width: 5px;
  --letter-spacing: 3px;
  --section-padding: 10rem;
}

@media (max-width: 980px) {
  html {
    --font-size-default: 15px;
    --font-size-large: 20.5px;
    --font-size-callout: 26px;
  }
}

@media (max-width: 780px) {
  html {
    --font-size-default: 12px;
    --font-size-large: 17px;
    --font-size-callout: 22px;
  }
}

html,
body {
  font-family: var(--font-family);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-color: var(--color-green);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 200px;
}

@media (max-width: 780px) {
  .logo {
    width: 120px;
  }
}

nav {
  display: flex;
  align-items: center;
}

nav > * {
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

nav .icon {
  display: flex;
  align-items: center;
}

nav svg {
  fill: var(--color-white);
  width: 2rem;
  height: 2rem;
}

nav > * + * {
  margin-left: 2rem;
}

a:hover {
  opacity: 0.5;
}

.global-wrap {
  margin: auto;
  max-width: 1200px;
  padding: 0 2rem;
  width: 100%;
}

footer {
  align-items: center;
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0 2rem;
}

footer img {
  margin-bottom: 1rem;
}

footer p {
  color: var(--color-white);
}
