.hero {
  background-image: url("../public/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.callout {
  align-items: center;
  background-image: url("../public/tower.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 600px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.callout p {
  background-color: var(--color-green);
  color: var(--color-white);
  display: inline-block;
  font-size: var(--font-size-callout);
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing);
  margin: 0;
  padding: 0.5rem 1rem;
}

.callout p + p {
  margin-top: 0.5rem;
}

.caption {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.caption img {
  border: var(--border-width) solid var(--color-white);
  height: auto;
  margin: -2rem 0;
  width: 344px;
}

.caption p {
  padding-left: 6rem;
}

@media (max-width: 780px) {
  .caption {
    flex-direction: column;
    padding: 5rem 0;
  }

  .caption img {
    margin: 0;
    width: 70%;
  }

  .caption p {
    padding-left: 0;
    padding-top: 2rem;
  }
}

.centeredText {
  background-color: var(--color-green);
  padding: var(--section-padding) 0;
}

.centeredText p {
  color: var(--color-white);
  font-size: var(--font-size-large);
  margin: auto;
  max-width: 680px;
  text-align: center;
}

.blocks {
  border: var(--border-width) solid var(--color-white);
  display: flex;
  flex-wrap: wrap;
}

.blocks > img {
  border: var(--border-width) solid var(--color-white);
  height: auto;
  width: 50%;
}

@media (max-width: 780px) {
  .blocks > img {
    width: 100%;
  }
}

.content {
  background-color: var(--color-gray);
  padding: 6rem 0;
}

.content h1 {
  font-size: var(--font-size-callout);
  text-align: center;
}

.content p {
  margin: 1rem auto;
  max-width: 840px;
  /* text-indent: 2rem; */
}
